/*

FONTS:

'Josefin Sans'
'Noto Serif'
'Dancing Script'

COLORS:

light tan: #eeebda

*/


* {
  box-sizing: border-box;
}

body{
    font-family: 'Noto Serif', serif;
    line-height: 1.8;
    /*background-color: #eeebda;*/
    background-color: rgb( 238, 214, 178);

}

.wrapper {
  width: 80%;
  /*background-color: blue;*/
  margin: auto;

  /*display: inline;*/
}

#site-header {
  background-image: url("img/header-img.jpg");
  background-size: cover;
  background-position: right bottom;
  /*justify-content: center;*/
}

img{
    max-width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

#site-header div h1,
#site-header div h3{

    margin: 0;
    line-height: 1;
    position: relative;
}

#site-header div{
  padding: 60px 0 120px 0;
  font-size: 4em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#site-header div h1{
    top: 20px;
    display: flex;
    justify-content: center;
}

#site-header div h3{
    color: white;
    bottom: 20px;
    text-shadow: 0 5px 8px rgba( 0, 0, 0, 0.3 );
    right: -150px;
    position: relative;
    top: 10px;
    font-family: 'Dancing Script', cursive;

}
#main-navigation {
  background: grey;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


#main-navigation a{
  color: white;
  font-size: 20px;
  display: block;
  text-decoration: none;

  justify-content: flex-end;
  margin-top: 25px;

}


















h1, h2, h3{

    font-family: "Josefin Sans", sans-serif;
    margin-top: 0;
}
.wrapper{

    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}



#main-navigation a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;

}
 #logo{
  width: 45%;
}

main{
    display: inline-block;
    /*flex-direction: column;*/
    /*float: left;*/
    width: 65%;
    padding: 20px;
    background-color: #444;
    box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3 );
    /*margin-top: 200px;*/
  }

aside{
    padding: 20px;
    width: 35%;
    background-color: #eee;
    box-shadow: 5px 5px 8px rgba( 0, 0, 0, 0.3 );
    float: right;
    height: 2512px;
    /*display: flex;*/
    /*display: inline-block;*/
}
aside h3{
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}
aside img{
    border-radius: 50%;
    margin-bottom: 30px;
    border: 2px solid white;
}
article{
    background-color: white;
    box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3 );
    padding: 20px;
    margin-bottom: 20px;
}
article h2{
    line-height: 1em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}
article time{
    font-size: 0.8em;
    text-align: center;
    display: block;
    margin-bottom: 30px;
    color: #666;
}
#site-footer{
  padding: 10px;
  color: white;
  text-align: center;
  margin-top: 50px;
  background: #333;
}
